[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bump2version = "*"
flit = "*"
nox = "*"
pre-commit = "*"
towncrier = "*"
sphinx = "*"

[packages]

[requires]
python_version = "3.8"
